{{partial 'layout/header'}}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="page-header">
        <h2>Stories</h2>
      </div>
      {{outlet}}
    </div>
    <div class="col-sm-4">
      <div class="page-header">
        <h2>Sidebar</h2>
      </div>
    </div>
  </div>
</div>
