{{partial 'layout/header'}}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {{outlet}}
    </div>
    <div class="col-sm-4">
      {{partial 'layout/sidebar'}}
    </div>
  </div>
</div>
